<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tab-button href="/tabs/tab5">
    <ion-chip>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/04f87ff7-4572-4d21-a02c-9d8d441976e8/dhb4xq3-e77e6a0b-97e9-458c-bba5-9d8242079f98.jpg/v1/fill/w_900,h_900,q_75,strp/mortal_kombat_by_gallerybrisart_dhb4xq3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA0Zjg3ZmY3LTQ1NzItNGQyMS1hMDJjLTlkOGQ0NDE5NzZlOFwvZGhiNHhxMy1lNzdlNmEwYi05N2U5LTQ1OGMtYmJhNS05ZDgyNDIwNzlmOTguanBnIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzA0Zjg3ZmY3LTQ1NzItNGQyMS1hMDJjLTlkOGQ0NDE5NzZlOFwvZ2FsbGVyeWJyaXNhcnQtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.8up-56Kg7oQzm3qs6rXa87N7eYgOL7tnKeN4M9fObs8" />
  </ion-avatar>
  <ion-label>Usuario</ion-label>
</ion-chip>
      </ion-tab-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Arenas de combate MK</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://tse1.mm.bing.net/th/id/OIP.B_nGekSbBKN49R0jyImotAAAAA?pid=Api&P=0&h=180" />
        </ion-thumbnail>
        <ion-label>Living forest</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="http://vignette1.wikia.nocookie.net/mortalkombat/images/b/ba/The_Pit.png/revision/latest?cb=20141206170636&path-prefix=pt" />
        </ion-thumbnail>
        <ion-label>Abyss of souls</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/24/fe/c2/24fec281eabe5c6399f7edb964173723.png" />
        </ion-thumbnail>
        <ion-label>Weapons room</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="http://vignette4.wikia.nocookie.net/mkwikia/images/a/a4/TheDeadPool_2011.jpg/revision/latest/scale-to-width-down/2000?cb=20110308235842" />
        </ion-thumbnail>
        <ion-label>acid lake</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
